.tools {
  timeline-scope: --entry0, --entry1, --entry2, --entry3, --entry4, --entry5, --entry6; --count: 7;
  position: relative;
  padding: clamp(4rem, 5.5555555556vw, 5vh) 0 0;
  text-align: center;
  color: var(--color-accent);
}

.tools .me {
  position: relative;
  z-index: 1;
}

.tools .me svg {
  width: min(50vw, 40rem);
}

.tools-container {
  position: relative;
  overflow: hidden;
}

.tools-orbit svg {
  width: min(58vw, 48rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.tools-orbit .tool-item {
  display: inline-flex;
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  cursor: pointer;
}

.tools-orbit .tool-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.tools-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolspath {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}