.journey {
  position: relative;
  padding: clamp(2.5rem, 6vw, 15vh) 0;
  text-align: center;
  color: var(--color-accent);
}

@media screen and (max-width: 767px) {
  .journey-container svg {
    display: none;
  }
}

.timeline-block {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: -5rem 0;
  padding: 0 var(--padding);
}

.timeline-block:nth-of-type(even) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1080px) {
  .timeline-block {
    flex-direction: column;
    margin: 2rem 0 4rem;
    gap: 30px;
  }

  .timeline-block:nth-of-type(even) {
    flex-direction: column;
  }

  .timeline-block:last-child {
    margin-bottom: 0;
  }
}

.timeline-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.timeline-title span {
  color: #ffbe0b;
  display: block;
  font-size: 1.8rem;
  margin-top: -0.5rem;
}

.timeline-img {
  width: 100%;
  max-width: 30rem;
}

@media screen and (max-width: 767px) {
  .timeline-img {
    max-width: 90%;
    margin-bottom: 2rem;
  }
}

.timeline-img figure {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.timeline-img figure img {
  position: relative;
  width: 100%;
  height: 100%;
}

.timeline-img figure figcaption {
  width: 100%;
  padding: 10px;
  color: #ff006e;
  font-size: 1.25rem;
}

.timeline-content {
  width: 100%;
  max-width: 30rem;
  font-size: 1.5rem;
  text-align: left;
  background: -webkit-linear-gradient(#ff006e, #242acf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 767px) {
  .timeline-content {
    font-size: 1.25rem;
  }
}

.timeline-content p::selection,
.timeline-content a::selection {
  background: var(--color-accent);
  color: #fff;
  -webkit-text-fill-color: #fff;
}